.text-purple {
    color: purple;}

.card-img-top {
    background-color: wheat;
    height: 200px;
    width: 80%;
    object-fit: cover;
    padding: 12px;
    border: 8px;}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;}

.card-body {
    background-color: wheat;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;}
